// Small devices (landscape phones, 576px and up)
$breakpoint-small: 576px;
// Medium devices (tablets, 768px and up)
$breakpoint-medium: 768px;
// Large devices (desktops, 992px and up)
$breakpoint-large: 992px;
// Extra large devices (large desktops, 1200px and up)
$breakpoint-xlarge: 1200px;
