// Settings
@import 'settings/colors';
@import 'settings/breakpoints';
@import 'settings/mixins';

// Globals
@import 'reset';

.body {
  color: $color-primary;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include respond-to(tablets-and-up) {
    grid-template-columns: repeat(4, 1fr);
  }
}
